<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vilicode.mapper.BookMapper">
    <insert id="addBook" parameterType="Book">
    insert into book(b_isbn,b_name,b_author,b_publisher,b_cover,b_image1,b_image2,b_price,bt_id,
    b_stock,b_mark) values(#{bisbn},#{bname},#{bauthor},#{bpublisher},#{bcover},#{bimage1},#{bimage2},
    #{bprice},#{btid},#{bstock},#{bmark})
    </insert>

    <update id="modifyBook" parameterType="Book">
    update book
    <set>
        b_isbn=#{bisbn},b_name=#{bname},b_author=#{bauthor},b_publisher=#{bpublisher},
        b_cover=#{bcover},b_image1=#{bimage1},b_image2=#{bimage2},b_price=#{bprice},bt_id=#{btid},
        b_stock=#{bstock},b_mark=#{bmark},b_mark=#{bmark}
    </set>
    <where>
        b_id=#{bid}
    </where>
    </update>

    <delete id="removeBook" parameterType="int">
        delete from book
        <where>
            b_id=#{value}
        </where>
    </delete>

    <select id="queryBooks" resultType="Book">
 	select t.bt_id btid,bt_name btname,b_id bid,b_isbn bisbn,b_name bname,b_author bauthor,b_publisher bpublisher,
 	b_cover bcover,b_image1 bimage1,b_image2 bimage2,b_price bprice,b_stock bstock,b_mark bmark from booktype t,book b
 	where t.bt_id=b.bt_id order by b_id limit #{0},#{1}
    </select>

    <select id="queryBookById" resultType="Book" parameterType="int">
    select t.bt_id btid,bt_name btname,b_id bid,b_isbn bisbn,b_name bname,b_author bauthor,b_publisher bpublisher,
 	b_cover bcover,b_image1 bimage1,b_image2 bimage2,b_price bprice,b_stock bstock,b_mark bmark from booktype t,book b
 	where t.bt_id=b.bt_id and b.b_id=#{value}
    </select>

    <select id="queryBookByIsbn" resultType="Book" parameterType="String">
    select t.bt_id btid,bt_name btname,b_id bid,b_isbn bisbn,b_name bname,b_author bauthor,b_publisher bpublisher,
 	b_cover bcover,b_image1 bimage1,b_image2 bimage2,b_price bprice,b_stock bstock,b_mark bmark from booktype t,book b
 	where t.bt_id=b.bt_id and b.b_isbn=#{value}
    </select>
    <select id="queryCountOfBooks" resultType="int">
    select count(*) from book;
    </select>
    <select id="queryCountOfBooksByKeyword" resultType="int" parameterType="String">
    select count(*) from book where b_name like "%"#{value}"%"
    </select>
    <select id="queryBooksByKeyword" resultType="Book">
 	select t.bt_id btid,bt_name btname,b_id bid,b_isbn bisbn,b_name bname,b_author bauthor,b_publisher bpublisher,
 	b_cover bcover,b_image1 bimage1,b_image2 bimage2,b_price bprice,b_stock bstock,b_mark bmark from booktype t,book b
 	where t.bt_id=b.bt_id and b_name like "%"#{0}"%" limit #{1},#{2}
    </select>
    <delete id="deleteBookByBtid" parameterType="int">
      delete from book where b_id=#{value}
    </delete>
</mapper>