<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:com/vilicode/config/spring.xml</param-value>
  </context-param>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:com/vilicode/config/springMVC.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name >default </servlet-name>
    <url-pattern >*.woff2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.action</welcome-file>
  </welcome-file-list>
  <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/error/404error.jsp</location>-->
  <!--</error-page>-->
  <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/error/500error.jsp</location>-->
  <!--</error-page>-->
  <!--<error-page>-->
    <!--<error-code>400</error-code>-->
    <!--<location>/error/400error.jsp</location>-->
  <!--</error-page>-->
</web-app>
